@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

.dp__input {
    padding: 18px 24px;
    font-family: $font-roboto;
    font-weight: $fw-400;
    font-size: $fs-18;
    color: $color-jumbo-gray;
    border: 1px solid transparent;
    border-radius: $br-8;
    background-color: $color-athens-gray;
    &:hover {
        border: 1px solid transparent;
        background-color: $color-inputHover-gray;
    }
    &:active, &:focus-within, &:focus-visible {
        @include inputActive;
    }
}
