@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

//Colors
$color-snow-white: #FFFFFF;
$color-blue-bg:#EBF3FE;
$color-charade-gray: #292A33;
$color-tuna-gray: #343541;
$color-abbey-gray: #484954;
$color-mid-gray: #5D5D67;
$color-jumbo-gray: #85868D;
$color-bombay-gray: #AEAEB3;
$color-iron-gray: #D6D7D9;
$color-jakis-gray: #EAEAEA;
$color-athens-gray: #F7F7F7;
$color-darkish-red: #450001;
$color-totem-pole-red: #A60C0E;
$color-cherry-red: #EC1115;
$color-bittersweet-red: #F47073;
$color-sweet-pink: #F7A0A1;
$color-cosmos-pink: #FBCFD0;
$color-fair-pink: #FDEBEB;
$color-wisp-pink: #FEF6F6;

//Fonts
$font-roboto: 'Roboto', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-eczar: 'Eczar', serif;

//Font sizes
$fs-16: 16px;
$fs-14: 14px;
$fs-18: 18px;
$fs-22: 22px;
$fs-32: 32px;
$fs-40: 40px;
$fs-48: 48px;
$fs-80: 80px;
$fs-22: 22px;
$fs-36: 36px;

//Font weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-600: 600;

//Border radius
$br-8: 8px;
$br-24: 24px;
$br-64: 64px;

//Box shadow
$movie-card-shadow: 0px 24px 78px rgba(0, 0, 0, 0.08), 0px 5.36071px 17.4223px rgba(0, 0, 0, 0.0238443), 0px 1.59602px 5.18708px rgba(0, 0, 0, 0.0161557);
$form-container-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);

//Margins
$mt-40: 40px;
